.wrapper-top{
    background-color: white ;
}

.pickBox-h2{
    margin-top : 2rem ;
    font-family : 'Gilroy-bold',sans-serif ;
    color : #252d38 ;
}

.left-container{
    margin-top : 2rem ;
    display:inline-block ;
    height : 70vh !important;
    overflow-y: scroll;
}

.right-container{
    margin-top : 2rem ;
    display:inline-block;
    padding-left : 2rem ;
}


.tag p{
    font-family: 'Gilroy-light',sans-serif;
}

.cake-select{
    width : 30% ;
}

.right-text-bold {
    font-size : 1.3rem ;
    color : #252d38 ;
    font-family: 'Gilroy-bold',sans-serif;

}
.need-flowers label{
    font-family: 'Gilroy-light',sans-serif ;
    font-size : 0.9rem ;
    padding : 0.2rem 0.4rem ;
    margin-right : 0.6rem ;
    margin-bottom: 1rem ;
}

.need-flowers input{
    width : 1rem ;
    height : 1rem ;
    color : red ;
}
.order-list{
    list-style-type: none ;
    overflow-y: scroll;
    height : 25vh ;
}
.order-item{
    font-family :'Gilroy-light' ,sans-serif ;
    display : flex !important;
    border-bottom : solid 1px #252d386b ;
    padding : 0.7rem 0.1rem ;
    position: relative;
}
.order-item > *{
    display:inline-block ;
    margin : 0.2rem 0.7rem ;
    outline: none !important ;
    font-size : 0.9rem ;
}

.order-item button{
    height : 1.2rem ;
    width : 1.2rem ;
    border : solid 1px #252d38 ;
    border-radius : 50% ;
}
.item-quantity{
    margin : 0.2rem 0.3rem
}

.minus {
    margin-right : 0.5rem ;
}
.plus {
    margin-left : 0.5rem ;
}
.plus img ,.minus img, .item-delete img{
    width : 1.2rem ;
    height : 1.2rem ;
    align-items: center;
    justify-content: center;
    padding-bottom : 0.3rem ;
    padding-right : 0.1rem ;
}
.minus img{
    width : 1rem !important;
    height: 1rem ;
    padding-left : 0.1rem ;
    
}
.item-delete {
    border : none !important;
    outline : none ;
}
.item-name{
    margin-right : 1.9rem ;
}
.item-delete{
    position: absolute;
    right : 0 ;
    
}
.item-price {
    margin-left : 1.8rem ;
}


.plus:hover  , .minus:hover {
    -webkit-box-shadow: 2px 2px 18px -2px rgba(40,49,61,1);
    -moz-box-shadow: 2px 2px 18px -2px rgba(40,49,61,1);
    box-shadow: 2px 2px 18px -2px rgba(40,49,61,1);
}

.item-delete img{
    opacity : 0.5 ;
}
.item-delete:hover img{
    opacity : 0.85 ;
}

.select-nb {
    height : 2.2rem ;
    width : 2.2rem ;
    border-radius : 50% ;
    border : solid 1.5px #252d38 ;
    background-color : white  ;
    color :#252d38 ;
    font-family : 'Gilroy-bold' ,sans-serif ;
    margin-right : 1.2rem ;
    margin-bottom : 1rem ;
    outline : none !important ;
}

.select-nb:focus{
    background-color : #252d38 ;
    color : white ;
}

.navbar-list{
    width : 80% ;
}
.homepage{
    margin-left : 3.7rem ;
}

.active{
    border-bottom : solid 1px #252d38 ;
}
